package pages

templ About() {
	<div
		class={ "my-8", "mx-3", "xl:mx-[25%]", "flex", "flex-col", "gap-5" }
	>
		<section id="more-info" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>What should you expect?</h2>
			<p>
				DankStuff (or newly known as DankStuff LLC) is an open-source software company, providing services for free or reasonable prices, all of the DankStuff products will be live until the day I leave this world.
				<br/>
				<br/>
				DankStuff prodcuts aren't just free or have resoanable prices with shady terms, since here free means free as in free cake. You don't pay with data, you don't pay with ads, and all the products are straight to the point.
				<br/>
				<br/>
				Enjoy the ride or contact us if something's bothering you, Happy danking 🎉✨
			</p>
		</section>
		<section id="license" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>License</h2>
			<p>
				This website (and all DankStuff prodcuts so far) are licensed under the GNU General Public License version 3 (GPLv3), that is, this application is free to use for any purpose, it’s source-code is available on Codeberg for any purpose needed to look at the code, learn from it, or wonder why I did things in a certain way.
				<br/>
				Any redistribution of the application has to be under GPLv3 including license and copyright notices, no funny business.
				<br/>
				Full license is available <a class={ "nav-link" } href="https://codeberg.org/dankstuff/dankstuff.net/src/branch/master/LICENSE" target="_blank">here</a>.
			</p>
		</section>
		<section id="privacy" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Privacy</h2>
			<p>
				You can find details about privacy <a class={ "nav-link" } href="/privacy">here</a>.
				<br/>
				TLDR; I don’t collect or sell any data, not sure install uBlock and check trackers yourself or check the source code for our products on <a class={ "nav-link" } href="https://codeberg.org/dankstuff" target="_blank">Codeberg</a>.
				<br/>
				No mysterious data harvesting machine is hiding under the floorboards, as far as I know.
			</p>
		</section>
		<section id="contributions" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Contributions</h2>
			<p>
				If you find a bug, have an idea, or want to improve something, feel free to open an issue or send a pull request on <a class={ "nav-link" } href="https://codeberg.org/dankstuff" target="_blank">Codeberg</a>.
				<br/>
				You don't need to be a software wizard, pointing out something that looks weird is already helpful enough.
			</p>
		</section>
		<section id="support" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Support</h2>
			<p>
				DankStuff products are made to be useful without trying to squeeze money out of every possible button.
				<br/>
				If you enjoy using them, sharing them with someone else is already more than enough support. If you really want to help, you can also send feedback, report bugs, or contribute to the source-code.
			</p>
		</section>
		<section id="development" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Development</h2>
			<p>
				Most of these products are built by one person, usually while fighting bugs, motivation, and the occasional mysterious error that disappears when someone else looks at it.
				<br/>
				Things may take time, features may change, and some ideas may remain ideas for longer than expected.
			</p>
		</section>
		<section id="availability" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Availability</h2>
			<p>
				I'll try to keep the products available for as long as I can, but I can't promise that everything will work perfectly forever.
				<br/>
				Servers can have bad days, services can break, and sometimes I might need to take something down for maintenance. If something disappears, it probably wasn't personal.
			</p>
		</section>
		<section id="acknoledgements" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Acknoledgements</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					Wallpaper &OpenCurlyDoubleQuote;marb18&CloseCurlyDoubleQuote; was shamlessly borrowed from <a class={ "nav-link" } href="https://www.lirc.org/" target="_blank">LIRC.org</a>
				</li>
				<li>
					AudioNugget font is used, I can't remember where I got it from, and hopefully the owner won't come knocking at my door.
				</li>
			</ul>
		</section>
		<section id="future" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>The future</h2>
			<p>
				DankStuff will keep changing as new ideas show up, old ideas get abandoned, and existing ideas become slightly less broken.
				<br/>
				There are no grand corporate plans written on a glass wall somewhere, just products I want to build and hopefully people who find them useful.
			</p>
		</section>
		<section id="contact" class={ "flex", "flex-col", "gap-y-1" }>
			<h2 class={ "text-xl", "font-bold" }>Contact</h2>
			<p>
				If you have questions, suggestions, complaints, compliments, or just want to say hi, you can contact me at: <a class={ "nav-link" } href="mailto:baraa@dankstuff.net">baraa@dankstuff.net</a>
			</p>
		</section>
	</div>
}
