package pages

templ Privacy() {
	<div
		class={ "my-8", "mx-3", "xl:mx-[25%]" }
	>
		<section id="intro">
			<p>
				I respect the privacy of my users. This Privacy Policy explains what information I collect when you use these prodcuts, how I use that information, and the choices you have about your information.
			</p>
		</section>
		<section id="information-collection">
			<h2 class={ "text-xl", "font-bold" }>Information Collected&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					Non really, what you see is what you get.
				</li>
				<li>
					I'm lazy to implement and snoop over data and stuff.
				</li>
				<li>
					No data is fed into an LLM for &OpenCurlyDoubleQuote;Improving User Experience&CloseCurlyDoubleQuote;, since the first DankStuff product, <a class={ "nav-link" } href="https://dankmuzikk.com" target="_blank">DankMuzikk</a>, the improvements for the app were either sent to me by e-mail or told in person.
				</li>
				<li>
					The only things stored about you are the data you give when signing-up, nothing more nothing less, well actuall sometimes it's less as some services don't require signing-up, and rest assure the data are only used to identify users in the applications' scope, by identify I mean logging-in or doing any user specific action, like adding a song to favorites in DankMuzikk.
				</li>
			</ul>
		</section>
		<section id="information-usage">
			<h2 class={ "text-xl", "font-bold" }>How Your Information is Used&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>I don’t, even the third-parties (if existed) don't know anything that is going on over here.</li>
				<li>Emails are stored in some applications, so you can access the applications for your own preferences.</li>
				<li>Your fullname is stored (sometimes) to make you feel at home.</li>
				<li>I will not share any of your personal information with any third-parties until the sun rises from the west.</li>
			</ul>
		</section>
		<section id="information-choices">
			<h2 class={ "text-xl", "font-bold" }>You have choices regarding your information&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					You can access and update your information in the App settings.
				</li>
				<li>
					If you delete your account any, all data related to it will be gone for good <b>IF AN APPLICATION DOESN'T HAVE USER DELETION, SEND ME AN EMAIL AND I'LL CAST YOUR DATA INTO FIRE</b>
				</li>
			</ul>
		</section>
		<section id="security">
			<h2 class={ "text-xl", "font-bold" }>Security&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					I take reasonable steps to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no internet transmission is completely secure.
				</li>
				<li>
					No one can access the data stores, not even me, I mean I can, but I can only delete stuff, and I can’t really make sense of them, since the data are encrypted on the database’s level, so you're good to go :)
				</li>
			</ul>
		</section>
		<section id="contact">
			<h2 class={ "text-xl", "font-bold" }>Contact&colon;</h2>
			<p>
				If you have any questions about this Privacy Policy, please contact me at: <a class={ "nav-link" } href="mailto:baraa@dankstuff.net">baraa@dankstuff.net</a>
			</p>
		</section>
	</div>
}
