package pages

import (
	"dankstuff.net/data"
	"strings"
)

templ Products() {
	<div
		class={ "my-8", "mx-3", "xl:mx-[20%]", "flex", "flex-col", "gap-5" }
	>
		<h2
			class={ "font-AudioNugget!", "font-size[24pt]", "font-medium", "text-dankyellow", "bg-dankblue", "w-fit", "px-2" }
		>
			Current DankStuff Products:
		</h2>
		for _, product := range data.Products {
			<section id={ strings.ToLower(product.Title) }>
				<div class={ "flex", "flex-col", "gap-5", "md:flex-row", "md:items-start", "md:justify-between" }>
					<div class={ "flex", "min-w-0", "flex-1", "flex-col", "gap-2" }>
						<h1 class={ "text-2xl", "font-medium" }>
							<span class={ "text-dankblue", "font-bold" }>{ product.Title }</span>&semi; { product.Description }
						</h1>
						<p class={ "text-dankgrey" }>
							{ product.LongDescription }
						</p>
						if !product.WIP {
							<div class={ "flex", "flex-wrap", "gap-2", "my-3" }>
								<a
									class={ "hover:underline" }
									href={ templ.SafeURL(product.Link) }
									target="_blank"
								>
									Visit { product.Title } →
								</a>
								<a
									class={ "hover:underline" }
									href={ templ.SafeURL("https://codeberg.org/dankstuff/" + strings.ToLower(product.Title)) }
									target="_blank"
								>
									Source code →
								</a>
							</div>
						}
					</div>
					<div class={ "flex", "h-48", "w-full", "shrink-0", "items-center", "justify-center", "md:w-48" }>
						<img
							class={ "h-48", "w-48", "object-contain" }
							src={ product.LogoPath }
							width="192"
							height="192"
							alt={ product.Title + " Logo" }
						/>
					</div>
				</div>
			</section>
			<hr class={ "border-b-muted", "border-b", "m-0", "p-0", "h-0" }/>
		}
	</div>
}
