package pages

templ TermsOfUse() {
	<div
		class={ "my-8", "mx-3", "xl:mx-[25%]" }
	>
		<section id="intro">
			<p>
				By using these products, you agree to these Terms of Usage. If you don't agree with them, please don't use the products, it's that simple.
			</p>
		</section>
		<section id="using-the-products">
			<h2 class={ "text-xl", "font-bold" }>Using the Products&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					Use the products for their intended purposes, don't try to break stuff just because you can, I don't have that much of a big server and if you have the right tools you might cause a down-time.
				</li>
				<li>
					You are responsible for anything you do using your account, so keep your login information safe.
				</li>
				<li>
					Some products may require an account, while others don't, because apparently not everything needs a login screen and a kizillion paywalls.
				</li>
			</ul>
		</section>
		<section id="accounts">
			<h2 class={ "text-xl", "font-bold" }>Accounts&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					You must provide accurate information when creating an account, or at least try your best.
				</li>
				<li>
					You are responsible for keeping your account credentials confidential.
				</li>
				<li>
					If you notice any unauthorized access to your account, please let me know before things get more complicated than they need to be.
				</li>
				<li>
					I reserve the right to suspend or delete accounts that are being used to abuse the products or other users.
				</li>
			</ul>
		</section>
		<section id="content">
			<h2 class={ "text-xl", "font-bold" }>Your Content&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					You keep ownership of the content you submit, upload, create, or otherwise put into the products, who am I to take ownership from you.
				</li>
				<li>
					You are responsible for making sure that your content doesn't violate any laws or someone else's rights.
				</li>
				<li>
					By submitting content, you give the products permission to store and use it only as needed to provide their functionality, and within the right context, i.e. your usage or whomever you share with.
				</li>
				<li>
					Don't upload anything that you wouldn't want associated with you, future you might not appreciate it.
				</li>
			</ul>
		</section>
		<section id="availability">
			<h2 class={ "text-xl", "font-bold" }>Availability&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					I try to keep everything running, but I can't promise that the products will always be available, bug-free, or behave exactly as expected.
				</li>
				<li>
					Features may be added, changed, or removed whenever necessary, because software is basically a living thing with occasional mood swings.
				</li>
				<li>
					Maintenance, updates, internet problems, or other unexpected events may cause temporary interruptions.
				</li>
			</ul>
		</section>
		<section id="third-parties">
			<h2 class={ "text-xl", "font-bold" }>Third-Party Services&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					Some products may use third-party services to provide certain functionality.
				</li>
				<li>
					Those services have their own terms and policies, and I can't control what they do over there, however your data is completely anonomized before being sent to any third-party!
				</li>
				<li>
					I am not responsible for any issues caused by third-party services, unless I somehow personally broke them, in which case I probably already know.
				</li>
			</ul>
		</section>
		<section id="disclaimer">
			<h2 class={ "text-xl", "font-bold" }>Disclaimer&colon;</h2>
			<ul class={ "list-disc", "ms-5" }>
				<li>
					The products are provided &OpenCurlyDoubleQuote;as is&CloseCurlyDoubleQuote; and &OpenCurlyDoubleQuote;as available&CloseCurlyDoubleQuote;, without guarantees that everything will work perfectly all the time (well if you find a bug you know where to reach me).
				</li>
				<li>
					I am not responsible for any missed opportunity, or emotional damage caused by using, or not being able to use, the products.
				</li>
			</ul>
		</section>
		<section id="changes">
			<h2 class={ "text-xl", "font-bold" }>Changes to These Terms&colon;</h2>
			<p>
				I may update these Terms of Usage from time to time. If I make any meaningful changes, I'll try to make them noticeable, but checking this page every now and then is still a good idea.
			</p>
		</section>
		<section id="contact">
			<h2 class={ "text-xl", "font-bold" }>Contact&colon;</h2>
			<p>
				If you have any questions about these Terms of Usage, please contact me at: <a class={ "nav-link" } href="mailto:baraa@dankstuff.net">baraa@dankstuff.net</a>
			</p>
		</section>
	</div>
}
