<!doctype html>
<html lang="en">
  <head>
    <title>Dank Stuff</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta name="description" content="The dankest stuff can be." />
    <meta
      name="keywords"
      content="dank,stuff,dankstuff,dank stuff,dank products,dank apps,dank sites"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Dank Stuff" />

    <style>
      .icon-grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        max-width: 1200px;
        padding: 20px;
        background-color: #2e7d32;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        color: #333;
        transition:
          transform 0.2s ease-in-out,
          background-color 0.2s ease-in-out;
        cursor: pointer;

        flex: 1 1 120px;
        max-width: 180px;
        min-width: 90px;
      }

      .icon-item:hover {
        transform: translateY(-5px);
        background-color: #d1d1d1;
      }

      .icon-item a {
        font-size: 0.9em;
        font-weight: bold;
      }

      @media (max-width: 600px) {
        .icon-item {
          flex-basis: calc(50% - 20px);
          max-width: unset;
        }
      }

      @media (min-width: 601px) and (max-width: 900px) {
        .icon-item {
          flex-basis: calc(33.333% - 20px); /* Three columns */
        }
      }

      @media (min-width: 901px) {
        .icon-item {
          flex-basis: calc(25% - 20px); /* Four columns */
        }
      }
    </style>
  </head>
  <body
    style='
      background-image: url("{{ .BG }}"), linear-gradient(to right, #2e7d32, #FBC02D);
      background-repeat: repeat;
      background-size: cover;
      padding: 0px;
      margin: 0px;
      background-position: center;
      background-attachment: fixed;
    '
  >
    <main style="min-height: 100dvh">
      <div style="display: flex; align-items: center; gap: 10px">
        <img
          src="/assets/favicon-96x96.png"
          style="width: 75px; height: 75px"
          alt="Logo"
        />
        <h1
          style="
            font-size: 34px;
            background-color: #2e7d32;
            color: black;
            width: fit-content;
          "
        >
          Dank Stuff
        </h1>
      </div>

      <section
        id="dankstuff-products"
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;
        "
      >
        <h2
          style="
            font-size: 30px;
            color: #2e7d32;
            background-color: black;
            width: fit-content;
          "
        >
          Current Dank Stuff:
        </h2>
        <div class="icon-grid-container">
          {{- range .DankStuffProducts }}
          <div class="icon-item">
            <a
              style="display: flex; flex-direction: column; gap: 5px"
              title="{{ .Description }}"
              href="{{.Link}}"
              target="_blank"
            >
              {{- if .WIP }}
              <img
                style="width: 75px; height: 75px"
                width="75"
                height="75"
                src="/assets/logos/dankstuff-wip.webp"
                alt="{{.Title}} Logo."
              />
              <span>{{ .Title }} (WIP)</span>
              {{- else }}
              <img
                style="width: 75px; height: 75px"
                width="75"
                height="75"
                src="{{.LogoPath}}"
                alt="{{.Title}} Logo."
              />
              <span>{{ .Title }}</span>
              {{- end }}
            </a>
          </div>
          {{- end }}
        </div>
      </section>
    </main>
  </body>
</html>
